/* PAGE */

html {
  height: 100%;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Adieu', 'Arial Extended', sans-serif;
}

.font-adieu {
  font-family: 'Adieu', 'Arial Extended', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

/* Custom Styles - Move to new stylesheet */

canvas {
  border: 0px;
}

/* Positioning Styles */

.top0 {
  top: 0px;
}

.bottom0 {
  bottom: 0px;
}

.left0 {
  left: 0px;
}

.overflow-auto {
  overflow: auto;
}

.justify-content-center {
  justify-content: center;
}

.skew-container {
  transform: skew(52deg, -6deg);
}
.skew {
  transform: skew(-50deg, -6deg);
}

/* Aesthetics */

.dark-purple {
  color: hsla(256, 90%, 30%, 1);
}

.bg-animated-gradient {
  background: linear-gradient(274deg, #f5e1af,hsla(43, 90%, 82%, 1), #fdd480, #f38cd1);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 53%}
      50%{background-position:100% 48%}
      100%{background-position:0% 53%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 53%}
      50%{background-position:100% 48%}
      100%{background-position:0% 53%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 53%}
      50%{background-position:100% 48%}
      100%{background-position:0% 53%}
  }


.bg-warm-yellow {
  background: hsla(40, 100%, 75%, 1);
}

.bg-gradient-green {
  background: linear-gradient(#6FCF97, #219653);
}

.bg-gradient-gray {
  background: linear-gradient(#FFFFFF, #E5E5E5);
}

.bg-gradient-orange {
  background: linear-gradient(#FFE49E, rgba(254, 222, 184, 0.5));
}

.shadow-4-deep {
  box-shadow: 0px 0px 12px 0 rgba(0,0,0,.5);
}

.shadow-hover {
  transition: 0.2s ease-in-out;
}

.shadow-hover:hover {
  box-shadow: 0 0 24px 4px rgba(0,0,0,.24);
}

/* End custom styles */

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* canvas */

#canvas {
  height: 1000px;
  width: 1000px;
}

.canvas-container {
  width: 1000px;
  height: 200px;
}
